<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <h1>User Details</h1>

    <table border="2px" cellpadding="15" cellspacing="10">

        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
        </tr>

        <tr>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
        </tr>

    </table>
    <form action="/logout" method="GET">
        <button style=" margin:10px; width: 100px; height:50px" type="submit">log out</button>
    </form>

</body>
</html>